<import from="../../components/loader" />

<h1>Homeworks</h1>

<p if.bind="appState.role == 'Admin' || appState.role == 'Teacher'">
    <a load="/Homework/Create">Create New</a>
</p>

<table class="table table-bordered">
    <loader value.bind="pageLoader" />
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Date Of Submission
        </th>
        <th>
            Teacher
        </th>
        <th>
            Subject
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of homeworks">
            <td>
                ${ item.name }
            </td>
            <td>
                ${ item.dateOfSubmission }
            </td>
            <td>
                ${ item.person.firstLastName }
            </td>
            <td>
                ${ item.subject.name }
            </td>

            <td>
                <a load="/Homework/${item.id}">Details</a>
                <span if.bind="appState.role == 'Admin' || appState.role == 'Teacher'">
                    |
                    <a load="/Homework/Edit/${item.id}">Edit</a> |
                    <a click.delegate="delete($event, item.id)">Remove</a> |
                    <a load="/PersonHomework/Create/${item.id}/true">Enter student result</a>
                </span>
            </td>
        </tr>

    </tbody>
</table>