<import from="../../components/loader" />

<h1>Details</h1>

<div>
    <loader value.bind="pageLoader" />
    <h4>Person Homework</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Grade
        </dt>
        <dd class = "col-sm-10">
            ${ personHomework.grade }
        </dd>
        <dt class = "col-sm-2">
            Points
        </dt>
        <dd class = "col-sm-10">
            ${ personHomework.points }
        </dd>
        <dt class = "col-sm-2">
            Student
        </dt>
        <dd class = "col-sm-10">
            ${ personHomework.person.firstLastName }
        </dd>
        <dt class = "col-sm-2">
            Homework
        </dt>
        <dd class = "col-sm-10">
            ${ personHomework.homework.name }
        </dd>

    </dl>
</div>
<div>
    <a if.bind="appState.role == 'Admin' || appState.role == 'Teacher'" load="/PersonHomework/Edit/${ personHomework.id }">Edit</a> 
    <a load="/PersonHomework">Back to List</a>
</div>
