<import from="../../components/loader" />

<h1>Person Subjects</h1>

<table class="table table-bordered">
    <loader value.bind="pageLoader" />
    <thead>
        <tr>
            <th>
                Grade
            </th>
            <th>
                Passed
            </th>
            <th>
                Allowed
            </th>
            <th>
                Person
            </th>
            <th>
                Subject
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of personSubjects">
            <td>
                ${ item.grade }
            </td>
            <td>
                ${ item.passed ? '✔' : '❌'}
            </td>
            <td>
                ${ item.allowed ? '✔' : '❌'}
            </td>
            <td>
                ${ item.person.firstLastName }
            </td>
            <td>
                ${ item.subject.name }
            </td>

            <td>

                <a if.bind="appState.role == 'Admin' || appState.role == 'Teacher'" load="/PersonSubject/Edit/${item.id}/true">
                        Evaluate student |
                </a>
                <a load="/PersonSubject/${item.id}" >Details</a>|
                <a click.delegate="delete($event, item.id)" >Remove</a>
            </td>
        </tr>

    </tbody>
</table>
